html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{
    padding: 0;
    margin: 0;
    background-color:  white;
    font-display: swap;
    color: #1F2326;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}
.container{
    width: 72%;
    margin: 0 auto;
}
header{
    background-color: white;
    width: 100%;
}
header>.container{
    display: flex;
    justify-content:space-between;
    padding: 13px 0;
}
.container-menu{
    order:2;
    padding:10px 0;
}
.dividing-strip>hr {
    border: none;
    border-top: 2px dotted #808080;
    width: 100%;
    margin: 5px 0;
}
.p-in-header{
    font-size: 1.2em;
    color:#1F2326;
    text-decoration: none;
    margin-left: 10px;
}
.logo{
    order:1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo>img{
    padding-top:2%;
    width: 150px;
    height: 74px;
}
.phone{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    /* align-items: center; */
    width: 100%;
    order: 2;
}
.phone p>a:hover{
    color: #808080;
}
.phone p>a{
    font-weight:bold;
    color: black;
    text-decoration: none;
}
h1{
    color:black;
    font-weight: 900;
    font-size: 4em;
    text-align: center;
    padding:1% 0;
}
h2{
    color:black;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding:3.5% 0;
}
h3{
    color:#4e4e4e;
    font-size: 1.1em;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    padding:2% 0;
}
h4{
    color:#292929;
    font-size: 1em;
    font-weight: 900;
    text-align: center;
}
span.bold {
    font-weight: bold;
}
p.p-center{
    text-align: center;
}
div{
    box-sizing: border-box;
}
/*! поменять название класса */
#seccond .content {
    position: relative;
    max-width: 100%;
}
#seccond .content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
#seccond .content:hover .content-overlay {
    opacity: 1;
}
/*swiper our instagram index.html*/
.contforslider{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.owl-next,.owl-prev{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 35%;
    /* margin-top: -10px; */
}
.owl-prev i, .owl-next i {
    color: red;
}
.owl-prev {
    left: 5px;
}
.owl-next {
    right: 5px;
}
/*swiper our instagram index.html end*/
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; 
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: none;
}
   .owl-carousel .owl-nav .owl-prev,
   .owl-carousel .owl-nav .owl-next,
   .owl-carousel .owl-dot {
     cursor: pointer;
     cursor: hand;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none; }
   .owl-carousel.owl-loaded {
     display: block; }
   .owl-carousel.owl-loading {
     opacity: 0;
     display: block; }
   .owl-carousel.owl-hidden {
     opacity: 0; }
   .owl-carousel.owl-refresh .owl-item {
     visibility: hidden; }
   .owl-carousel.owl-drag .owl-item {
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none; }
   .owl-carousel.owl-grab {
     cursor: move;
     cursor: grab; }
   .owl-carousel.owl-rtl {
     direction: rtl; }
   .owl-carousel.owl-rtl .owl-item {
     float: right; }
.no-js .owl-carousel {
    display: block;
}
.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
    z-index: 0; }
.owl-carousel .owl-animated-out {
    z-index: 1; }
 .owl-carousel .fadeOut {
   -webkit-animation-name: fadeOut;
           animation-name: fadeOut; }
 
 @-webkit-keyframes fadeOut {
   0% {
     opacity: 1; }
   100% {
     opacity: 0; } }
 
 @keyframes fadeOut {
   0% {
     opacity: 1; }
   100% {
     opacity: 0; } }
 
 /*
  * 	Owl Carousel - Auto Height Plugin
  */
 .owl-height {
   transition: height 500ms ease-in-out; }
 
 /*
  * 	Owl Carousel - Lazy Load Plugin
  */
 .owl-carousel .owl-item .owl-lazy {
   opacity: 0;
   transition: opacity 400ms ease; }
 
 .owl-carousel .owl-item img.owl-lazy {
   -webkit-transform-style: preserve-3d;
           transform-style: preserve-3d; }
 
 /*
  * 	Owl Carousel - Video Plugin
  */
 .owl-carousel .owl-video-wrapper {
   position: relative;
   height: 100%;
   background: #000; }
 
 .owl-carousel .owl-video-play-icon {
   position: absolute;
   height: 80px;
   width: 80px;
   left: 50%;
   top: 50%;
   margin-left: -40px;
   margin-top: -40px;
   background: url("owl.video.play.png") no-repeat;
   cursor: pointer;
   z-index: 1;
   -webkit-backface-visibility: hidden;
   transition: -webkit-transform 100ms ease;
   transition: transform 100ms ease; }
 
 .owl-carousel .owl-video-play-icon:hover {
   -webkit-transform: scale(1.3, 1.3);
       -ms-transform: scale(1.3, 1.3);
           transform: scale(1.3, 1.3); }
 
 .owl-carousel .owl-video-playing .owl-video-tn,
 .owl-carousel .owl-video-playing .owl-video-play-icon {
   display: none; }
 
 .owl-carousel .owl-video-tn {
   opacity: 0;
   height: 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: contain;
   transition: opacity 400ms ease; }
 
 .owl-carousel .owl-video-frame {
   position: relative;
   z-index: 1;
   height: 100%;
   width: 100%; }

.owl-theme .owl-nav {
   margin-top: 10px;
   text-align: center;
   -webkit-tap-highlight-color: transparent; }
   .owl-theme .owl-nav [class*='owl-'] {
     color: #FFF;
     font-size: 14px;
     margin: 5px;
     padding: 4px 7px;
     background: #D6D6D6;
     /* background: rgb(153, 120, 67,0.5); */
     display: inline-block;
     cursor: pointer;
     border-radius: 3px; }
     .owl-theme .owl-nav [class*='owl-']:hover {
       background: #869791;
       /* background: rgb(153, 120, 67,0.9);  */
       color: #FFF;
       text-decoration: none; }
   .owl-theme .owl-nav .disabled {
     opacity: 0.5;
     cursor: default; }
 
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    /* background: rgb(153, 120, 67,0.5); */
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791; 
    /* background: rgb(153, 120, 67,0.9); */
}

.fa-angle-left:before {
    content: "\f104";
}

.eeeeeee{
    margin-bottom: 4%;
}
.eeeeeee p{
    font-size: 12px;
    text-align: center;
    font-weight: 400;
}
#three .container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
#three .container>p{
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    padding-right: 2%;
    line-height: 1.3em;
}
#three .allbutton{
    min-width: 32%;
}
#three .allbutton .yellow-button a{
    padding: 10% 19%;
}
/* кнопки */
.yellow-button a{
    text-decoration: none;
    outline: none;
    display: inline-block;
    position: relative;
    color: black;
    background: #FFC400;
    font-weight: 500;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
}
.yellow-button a:hover{
    color: white;
    background: black;
}
.black-button a{
    text-decoration: none;
    outline: none;
    display: inline-block;
    position: relative;
    color: black;
    border: 1px solid black;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    text-align:center;
}
.black-button a:hover{
    color:white;
    background-color: black;
}
.arrow-1 {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin-right: 40px;
}
.arrow-1 div {
    position: relative;
    top: 20px;
    width: 90px;
    height: 2px;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
.arrow-1 div::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    top: -10px;
    right: -6px;
    background-color: black;
    transform: rotate(45deg);
}
.arrow-1 div::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    top: 10px;
    right: -6px;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
.arrow-1:hover {
    animation: arrow-1 1s linear infinite;
}
@keyframes arrow-1 {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}
#aboutus .container{
    display: flex;
    flex-direction: row;
}
#aboutus .container>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aboutus .container>div>p{
    padding: 0 0 0 7%;
    font-size: 16px;
    line-height: 1.4em;
}
#aboutus .allbutton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#aboutus .yellow-button a{
    padding: 7% 10%;
    width: 170px;
    margin: 10% 0;
}
#our-clients .container p{
    font-size: 16px;
}
#our-clients .form-write-us, #faq-write-us .form-write-us{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 2% 0;
}
#our-clients .form-write-us{
    margin: 2% 0;
}
#faq-write-us .form-write-us{
    margin: 1% 0;
}
#our-clients .form-write-us>.first-column, #faq-write-us .form-write-us>.first-column{
    display: flex;
    flex-direction: column;
    width: 49%;
}
#our-clients .form-write-us>.second-column, #faq-write-us .form-write-us>.second-column{
    width: 49%;
}
#our-clients .form-write-us>.first-column>input, #faq-write-us .form-write-us>.first-column>input{
    width: 100%;
    margin-bottom: 2%;
}
#our-clients .form-write-us>.second-column>textarea, #faq-write-us .form-write-us>.second-column>textarea{
    width: 100%;
}
#our-clients .allbutton, #faq-write-us .allbutton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#our-clients .yellow-button a, #faq-write-us .yellow-button a{
    padding: 7% 0;
    width: 170px;
    margin: 10% 0 0 0;
}
#instagram .allbutton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#instagram .black-button a{
    padding: 7% 0;
    width: 170px;
    margin: 10% 0;
}
/*Стили для селектов, инпутов, текстарий*/
select, input, textarea{
    border: solid 1px black;
    padding: 4px;
    outline: 0;
    background: white;
    font-family: 'Roboto', sans-serif; 
    resize: none;
    font-size: 16px;
}
select:hover,select:focus, input:hover,input:focus,textarea:hover,textarea:focus{
    border-color: #808080;
}
/*Стили для селектов, инпутов, текстарий*/
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
    flex-basis: auto;
}
.cards a p{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 9%;
    text-transform: uppercase;
    padding:0;
}
.cards a{
    width: 32%;
    text-decoration: none;
    color: black;
}
.cards img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

/*Адаптивное меню*/
*{
    margin:0;
    padding:0;
}
#burg a{
    display: block;
    width: 70px;
}
#burg{
    width:100%;
    background:#808080;
    padding: 7.5px 0 7.5px 2%;
}
#burg span{
    display: flex;
    margin: 8px;
    width: 30px;
    height: 1px;
    background:black;
    z-index: 999;
}
.mobile-tab{
    display: flex;
    width: 100%;
    background: #808080;
    flex-direction: column;
}
#desktop{
    display: none;
}
.mobile-tab a{
    font-size:1.3em;
    color:#E8FDAB;/* black;#997843;*/
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.mobile-tab li{
    list-style-type: none;
    margin: 2% 5%;
}
.mobile-tab ul{
    padding: 1% 0;
}
/*Адаптивное меню*/

/*стили футер*/
footer {
    margin-top: 3em;
    background-color: rgb(128, 128, 128, 0.3);
}
.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.footer p{
    line-height: 1.7em;
}
.footer .listoftitles p{
    line-height: 1.4em;
}
.footer a:hover{
    color: black;
    font-weight:bold;
}
.footer a{
    text-decoration: none;
    color:#1F2326;
}
.footer .column {
    margin-top:1%;
    display: flex;
    flex-direction: column;
}
.column__content{
    padding:10px 0;
}
.column__content>div{
    display: flex;
    flex-direction: row;
}
.column__content>div>img{
    margin-right: 10px;
    display:flex;
    align-self: center;
}
/*стили футер*/
#contacts.container{
    width: 60%;
}
.dividing-strip-contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dividing-strip-contacts>hr{
    border: none;
    border-top: 2px solid #292929;
    width: 3%;
    margin: 15px 0 30px 0;
}
.contacts-blocks{
    display: flex;
    flex-direction: row;
}
.contacts-blocks__column{
    width: calc(100%/3);
}
.contacts-blocks__text{
    text-align: center;
    margin: 8% 0;
    color:#4e4e4e;
}
#map-and-form.container{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}
.map-and-form__map iframe{
    height: 100%;
    width: 100%;
}
.map-and-form__map{
    width: 50%;
}
.map-and-form__form-write-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.map-and-form__form-write-us>input, .map-and-form__form-write-us>textarea{
    margin: 0.5%;
    width: 90%;
}
.map-and-form__form-write-us .black-button a{
    width: 150px;
    margin: 1%;
    padding: 3% 0;
}
.map-and-form__form-write-us .allbutton p{
    text-align: right;
}
.map-and-form__form-write-us .allbutton{
    width: 91.5%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.faq-blocks, .about-us-blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.faq-blocks__column, .about-us-blocks__column{
    width: 48%;
}
.faq-blocks__vl {
    border-left: 1px solid #292929;
    height: 340px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 35%;
}
.faq-blocks__column h2{
    text-align: left;
    padding: 4% 0 2% 0;
}
.faq-blocks__column h3{
    text-align: left;
    padding: 0;
    /* color: #292929; */
    color: black;
    font-weight: 500;
}
h3.pad{
    padding-top: 2%;
}
.faq-blocks__column .with-padding{
    padding: 1.5% 0;
}
.dividing-strip-faq{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.dividing-strip-faq>hr{
    border: none;
    border-top: 2px solid #292929;
    width: 12%;
    margin: 10px 0 20px 0;
}
.faq-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5% 0 0 0;
}
.faq-description p{
    padding: 1% 0;
}
.faq-description p a{
    text-decoration: none;
    color:#1F2326;
}
.faq-description p a:hover{
    color: black;
    font-weight:bold;
}
#faq-write-us>p{
    text-align: center;
    padding-top:2%;
}
.dividing-strip-about-us{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dividing-strip-about-us>hr{
    border: none;
    border-top: 2px solid #292929;
    width: 12%;
    margin: 10px 0 20px 0;
}
.about-us-blocks__column>p{
    padding: 2% 0 4% 2%;
}
.about-us-blocks__column p.list{
    padding: 1% 0 0 2%;
}
#about-us .allbutton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-us-blocks__column .allbutton .yellow-button a{
    padding: 7% 0;
    width: 200px;
    margin: 10% 0 0 0;
}
.p-welcome{
    padding: 3% 0;
}
@media screen and (min-width: 769px){/*для бургера*/
	.mobile-tab,#burg,#mobile{
		display: none;
	}
	.bar{
        background:white; 
		display: flex;
		width: 100%;
		align-items:center;
		justify-content: center;
	}
	.mobile-bar{
		display: none;
	}
	#desktop{
		display: flex;
	}
	.bar a{
        text-decoration: none;
		color:#808080;
        margin:0;
        text-transform: uppercase;
	}
	.bar ul{
		display:inline-flex;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	.bar li{
		cursor: pointer;
		font-weight: lighter;
		background: white;
		padding: 10px 17px;
		text-align: center;
		letter-spacing: 1px;
		transition: all .2s ease-in-out;
	}
	.bar li:hover{
        color: black;
	}
}